.header{    
    padding: 10px;
    font-size: 30px;
    padding-left: 200px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.header button{
    margin-right: 30px;
    font-size: 15px;
    border-radius: 4px;
    background-color: blanchedalmond;
    border: 1px solid ridge;
}
.link{
    text-decoration: none;
    color: black;
    padding-right: 60px;
}
.button{
    cursor: pointer;
}